body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	text-shadow: 1px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
body {
	background-image: url(bg.jpg);
	margin-left: 0px;
}
#wrap {
	width: 250px;
	margin: 0 auto;	
}
label {
	width: 125px;
	float: left;
	font-weight: bold;	
	padding-top: 7px;
	text-align:left;
}
input, option, select, button, a{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	width: 103px;
	padding-left: 10px;
	padding-right: 10px;			
	cursor: pointer;
	background-color: #f7f7f7;
	background: -moz-linear-gradient(100% 100% 90deg, #e9e9e9, #f7f7f7);
 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#f7f7f7));
	border: 1px solid #d1d1d1;
	color: #555960;	
	text-shadow: 1px 1px 0px #fafafa;		
	float: left;
}
select { 
	width: 125px;
}
.blue, a.blue { 
	width: 250px; 
	float:left; 
	clear:both; 
	margin-top: 10px;
	background-color: #437dcc;
	background: -moz-linear-gradient(100% 100% 90deg, #437dcc, #6aaddf);
 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#437dcc), to(#6aaddf));
	border-top: 1px solid #4489bf;
	border-left: 1px solid #3f81c1; border-right: 1px solid #3f81c1;
	border-bottom: 1px solid #336cc8;
	color: #fff;	
	text-shadow: 1px 1px 0px #437dcc;	
	text-align: center;
}
p { 
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	clear:both;
}
h1 {
	font-family: 'Bebas'; 
	font-size: 54px;
	text-align: center;
}
table { text-align: center; margin-left: -88px; margin-top: 10px;}
.top { font-weight: bold; }